<div *ngIf='isUserLogedIn' >
    <nav>
        <ul>
      
            <li>
                <a routerLink='account' 
                 routerLinkActive="active" >Add Account</a>
            </li>
            <li>
                <a routerLink='accounts' 
                 routerLinkActive="active" >Accounts</a>
            </li>
            <li>
                <a routerLink='c1' 
                 routerLinkActive="active" >C1</a>
            </li>
            <li>
                <a routerLink='c2' 
                 routerLinkActive="active" >C2</a>
            </li>
            <li>
                <a routerLink='home' 
                 routerLinkActive="active" >Home</a>
            </li>

            <li>
                <a routerLink='products' 
                 routerLinkActive="active"  >Products</a>
            </li>
            
            <li>
                <a routerLink='login'  routerLinkActive="active">Login</a>
            </li>
            <li>
                <a routerLink='register'  routerLinkActive="active">Register</a>
            </li>
            <li>
                <a routerLink='demo'  routerLinkActive="active">Demo</a>
            </li>
        </ul>
    </nav>

</div>

<div>
    <router-outlet></router-outlet>
</div>