<h1>Welcome to Angular App</h1>
<div>
    <!-- interpolation -->
    <h3>Interpolation eg. </h3>
    <p>{{title}}</p>
    <p>{{fruits[0]}}</p>
    <p>{{product.name}}</p>
</div>
<div>
    <h3>property binding : [] </h3>

    <img [src]="imageUrl" alt="image name">
    <button [disabled]="isDisabled"> Click !</button>

    <h3>Event binding : ()</h3>

    <button (click)="clickHandler()">Log</button>

    <button (click)="toggleButton()">Toggle</button>

</div>
<div>
    <h3>Two way data binding [()]</h3>
    <form>
       <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" [(ngModel)]="userName">
       
        
        <button (click)="addName()">Add</button> 
        <button (click)="clearName()">Clear</button> 
    </form>
</div>
<div>
    <h3>Add new Product:</h3>
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" [(ngModel)]="newProduct.name">
        <br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price" [(ngModel)]="newProduct.price">
        
        <button (click)="addProduct()">Add</button>
        
    </form>
</div>